{% extends 'base.html.twig' %}

{% block title %}Add Company{% endblock %}


{% block body %}

<div class="container">

    <div class="col-md-12 head">
        &nbsp;
    </div>

    <h1>Bussiness Finder Admin</h1>

    <h3>Add Bussiness</h3>

    <div class="col-md-6">
        {{ form_start(company_form, {'attr' : {'id' : 'company-form' }}) }}
            {{ form(company_form) }}
            <label class="mt-3">Category</label>
            <select class="form-control">
                <option selected>Open this select menu</option>
                {% for key, category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        {{ form_end(company_form) }}
    </div>
</div>

{% endblock %}
