{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Bussiness Finder Admin</h1>
        
        <div class="col-md-12 admin-img">
            &nbsp;
        </div>

        <div class="col-md-12 bussiness-wrapper">
            <div class="row">
                <div class="title">
                    <h3>Bussiness</h3>
                </div>
                {% if session_user %}
                    <div class="add-new">
                        <a href="{{ path('company_add') }}" class="btn btn-success">Add bussiness</a>
                    </div>
                {% endif %}
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col" class="col-md-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, company in companies %}
                        <tr>
                            <th scope="row">{{ company.id }}</th>
                            <td>{{ company.title }}</td>
                            <td>{{ company.description }}</td>
                            <td> ... {#{{ company.Category }}#}</td> 
                            <td>
                                <a href="{{ path('company_view', {id: company.id}) }}" class="btn btn-success">View</a>
                                {% if session_user %}
                                    <a href="{{ path('company_edit', {id: company.id}) }}" class="btn btn-success">Edit</a>
                                    <a href="{{ path('index', {id: company.id}) }}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
