{% extends 'base.html.twig' %}

{% block title %}Add Company{% endblock %}


{% block body %}

<div class="container">

    <div class="col-md-12 head">
        &nbsp;
    </div>

    <center><h1>Bussiness Finder</h1></center>

    <h3>{{ company.title }}</h3>
    <h5>in ...</h5>

    <div class="col-md-6 mt-5">
        <h3>About</h3>
        
        <p>
            {{ company.description }}
            </br>
            </br>
            Address: {{ company.address }}, {{ company.city }} - {{ company.state }}, {{ company.zip }}
            </br>
            Phone: {{ company.phone }}</p>
        </p>

    </div>
</div>

{% endblock %}
