{% extends 'base.html.twig' %}

{% block title %}Hello FinderController!{% endblock %}

{% block body %}

    <div class="container">
        <center>
            <h1>Business Finder</h1>
        </center>

        <div class="col-md-12">
            {{ form_start(finder_form, {'attr' : {'id' : 'finder-form' }}) }}
                {{ form(finder_form) }}
            {{ form_end(finder_form) }}
        </div>
    </div>

{% endblock %}
