{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="container">
    {{render(controller('App\\Controller\\CompaniesController::index'))}}
</div>

{% endblock %}
